<div class='va'>
    <div class="align-self-center mx-auto text-center">
        <h1 class="mb-7">Oups, on dirait que vous vous êtes perdu !</h1>
        <img src="/images/error.gif" class="position-relative mx-auto">
        <br/>
        <a ui-sref="include">Retourner voir maman.</a>
    </div>
</div>