<ion-header-bar class="bar bar-header bar-balanced">
    <h1 class="title">Accueil</h1>
</ion-header-bar>

<ion-content class="has-header">
    <div class="card">
        <form ng-submit='demandeConnexion()'>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Nom de compte :</span>
                    <input type='text' ng-model='formData.userName'></input>
                </label>
                <label class="item item-input">
                    <span class="input-label">Mot de passe :</span>
                    <input type='password' ng-model='formData.password'></input>
                </label>

                <div class="button-bar">
                    <button type="button" class="button button-ligth" ng-click="inscription()">Inscription</button>
                    <button type="submit" class="button button-calm">Connexion</button>
                </div>
            </div>
        </form>
    </div>
</ion-content>