
<ion-header-bar ng-controller='navCtrl' class="bar bar-header bar-dark">
        <img style="cursor:pointer!important;" src="/images/cherries.png" ng-click="retourChoixListe()" width="30" height="30" class="ion-navicon" alt="">
        <span style="color:white!important; cursor:pointer!important;" ng-click="retourChoixListe()" class='h1 title'>Bonjour {{userName}}</span>
        <button class="button button-small button-assertive" type="button" ng-click="deconnexion()">Déconnexion</button>
</ion-header-bar>