<ion-content ng-controller='profilCtrl'  class="has-header">
    <h1 class="h1 title">Mon profil</h1>

    <div class='h4' style='background-color: #886aea; color:white;height: 5vh; text-align: center;padding-top:5px;'>
        Mes listes
    </div>
    <ion-list >
        <ion-item ng-repeat='l in liste' class="item-icon-bottom" style='text-align:center;'>
            <span style="cursor:pointer;" ui-sref="todo({listeName: l.name, listeID: l._id})">{{l.name}}</span>
            <br><br>
            <div class="button-bar">
                <button class="button button-small  button-energized icon-left ion-android-hand" ng-click="monModal('#collaboModal'+l._id, true)">
                    <strong><span>Gérer les collabos</span></strong>
                </button>

                <button class="button button-small button-assertive icon-left ion-ios-trash" ng-click="removeList(l._id)">
                    <strong><span>Supprimer</span></strong>
                </button>
            </div>
        </ion-item>
    </ion-list>

    <form ng-submit='addList()'>
        <div class="list">
            <div class="item item-input-inset">
                <label class="">
                    <input class="form-control" placeholder='Nom de la liste...' ng-model='formData.listName'></input>
                </label>
                <button type="submit" class="button button-small button-balanced ion-plus"></button>
            </div>
        </div>
    </form>
        <!-- Modal -->
        <div class="monModal" ng-repeat='l in liste' id="collaboModal{{l._id}}" aria-labelledby="collaboModal{{l._id}}Label">
                <ion-card class="card">
                    <ion-card-header class="item item-divider">
                        <button type="button" style='float:right;' class="button button-small button-assertive icon-center ion-close" ng-click="monModal('#collaboModal'+l._id, false)"></button>
                        <br><br>
                        <ion-card-title id="collaboModal{{l._id}}Label">{{l.name}} - Collabos</ion-card-title>
                    </ion-card-header>

                    <ion-card-content class="item item-text-wrap">
                        <div ng-repeat='c in l.collabo'>
                            <p>{{c}}<i style='cursor:pointer;float:right;color:firebrick' class='icon-center ion-close' ng-click="removeCollabo(l._id,c)"></i></p>
                        </div>
                    </ion-card-content>

                    <div class="modal-footer">
                        <form ng-submit='addCollabo(l)'>
                            <div class="list">
                                <div class="item item-input-inset">
                                    <label class="">
                                            <input placeholder='Nom du collaborateur...' ng-model='formData.collabo'></input>
                                    </label>
                                    <button type="submit" class="button button-small button-balanced ion-plus"></button>
                                </div>
                            </div>
                        </form>
                    </div>

            </ion-card>
        </div>


        <div class='h4' style='background-color: #886aea; color:white;height: 5vh; text-align: center; padding-top:5px;'>
                Mes collaborations
        </div>
        <ion-list>
            <ion-item ng-repeat='l in listec' class="item-icon-bottom">
                <span style="cursor:pointer" ui-sref="todo({listeName: l.name, listeID: l._id})">{{l.name}}</span>
                <button style='float: right;' class="button button-small button-assertive icon-left ion-paper-airplane" ng-click="removeCollabo(l._id,userName)">
                    <strong><span>Se retirer</span></strong>
                </button>
            </ion-item>
        </ion-list>

</ion-content>