
<ion-content ng-controller='toDoCtrl'  class="has-header">
    <h1 class="h1 title">{{listName.listName}}</h1>

 
        <form ng-submit='addTask()'>
            <div class="list list-inset">
                <label class="item item-input">
                    <input type='text' placeholder='Tâche à ajouter...' ng-model='formData.taskName'></input>
                </label>
            </div>
                <button type="submit" class="button-full button button-balanced">Ajouter une tâche</button>
            </div>
        </form>


        <span>Nombre de choses à faire : {{laliste.length}}</span>

        <ion-list class="table">
            <div ng-repeat='ta in laliste'>
                <ion-item>
                    <ion-label style='float:left;'>
                        <input type="text" ng-disabled="ta.done" ng-model="ta.taskName" class="doneis{{ta.done}}" style='font-weight: bold;font-size:1.5em;'>
                        <br><small class=''><i>Par {{ta.auteur}}, {{ta.date| date:'le dd/MM/yyyy à HH:mm'}}</span>
                    </ion-label>
                    <ion-checkbox style='float:right;' ng-checked='ta.done' ng-click="doneTask(ta._id)"></ion-checkbox>
                    
                </ion-item>
                <div class="button-bar">
                    <button class="button button-energized icon-left ion-loop" ng-disabled="ta.done" ng-click="updateTask(ta._id, ta.taskName)">
                            <strong>Modifier</strong>
                    </button>
                    <button class="button button-small button-assertive icon-left ion-ios-trash" ng-click="removeTask(ta._id)">
                            <strong>Supprimer</strong>
                    </button>  
                </div>
            </div>
            
        </ion-list>

</ion-content>
