.doneis1{
    text-decoration: line-through double red;
}

.doneis0{
    text-decoration: none;
}

.noMP{
    margin:0;
    padding:0;
}

.pointer{
    cursor: pointer;
}

.monModal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background-color: rgba(10, 10, 10, 0.8);
}

caption{
    caption-side: top !important;
    font-size: 1.5em;
}
