<div class='noMP h-100 w-100 d-flex position-fixed' ng-controller='connectionCtrl'>
    <div class="w-25 text-center align-self-center mx-auto">
        <h1 class="display-3 mb-3">Accueil</h1>
        <form ng-submit='demandeConnexion()'>
            <div class='input-group-lg mb-3'>
                <input class="form-control" placeholder='Nom de compte' ng-model='formData.userName'></input>
                <input type='password' class="form-control my-3" placeholder='Mot de passe' ng-model='formData.password'></input>
                <button type="button" class="btn btn-outline-info btn-light btn-lg" ng-click="inscription()">Inscription</button>
                <button type="submit" class="btn btn-info btn-lg">Connexion</button>
            </div>
        </form>
    
        <span id="log"></span>
        
    </div>
</div>