
<div ng-controller='navCtrl'>
    <nav class="navbar navbar-light bg-info">
        <a class="navbar-brand pointer" ng-click="retourChoixListe()">
            <img src="/images/cherries.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Bonjour {{userName}}
        </a>
        <form class="form-inline">
        <button class="btn btn-light my-2 my-sm-0" type="button" ng-click="deconnexion()">Déconnexion</button>
        </form>
    </nav>
</div>