<div ng-controller='profilCtrl'>
    <h1 class="display-3 text-center mb-4">Mon profil</h1>

    <div class="mx-auto w-50">
        <table class="table text-center">

            <caption class="bg-dark text-white text-center">Mes listes</caption>

            <tr class="" ng-repeat='l in liste'>
                <td class="pointer" ui-sref="todo({listeName: l.name, listeID: l._id})">{{l.name}}</td>
                
                <td>
                    <span class="input-group">
                        <span class="input-group-prepend">
                            <button class="btn a-btn-slide-text btn-warning" ng-click="monModal('#collaboModal'+l._id, true)">
                                    <i class="fas fa-users-cog fa-xs"></i>
                                    <strong><span>Gérer les collaborateurs</span></strong>
                            </button>
                        </span>
    
                        <span class="input-group-append">
                            <button class="btn a-btn-slide-text btn-danger" ng-click="removeList(l._id)">
                                <i class="fas fa-times fa-xs"></i>
                                <strong><span>Supprimer</span></strong>
                            </button>
                        </span>
                    </span>
                </td>
            </tr>
        </table>

        <!-- Modal -->
        <div class="monModal" ng-repeat='l in liste' id="collaboModal{{l._id}}" aria-labelledby="collaboModal{{l._id}}Label">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="collaboModal{{l._id}}Label">{{l.name}} - Collaborateurs</h5>
                        <button type="button" class="close" ng-click="monModal('#collaboModal'+l._id, false)">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div ng-repeat='c in l.collabo'>
                            <p>{{c}}<i class="pointer text-danger float-right fas fa-times fa-xs" ng-click="removeCollabo(l._id,c)"></i></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <form ng-submit='addCollabo(l)' class="input-group">
                            <input placeholder='Nom du collaborateur...' ng-model='formData.collabo'></input>
                            <button type="submit" class="input-group-append btn btn-success input-group-append"><i class="fas fa-plus fa-xs"></i></button>
                        </form>
                        <span class="text-danger" id="log"></span>
                    </div>
                </div>
            </div>
        </div>

        <form ng-submit='addList()'>
            <div class="input-group mb-3 w-25 mx-auto">
                <input class="form-control" placeholder='Nom de la liste...' ng-model='formData.listName'></input>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-success"><i class="fas fa-plus fa-xs"></i></button>
                </div>
            </div>
        </form>

        <table class="mt-3 table text-center">

            <caption class="bg-dark text-white text-center">Mes collaborations</caption>

            <tr ng-repeat='l in listec'>
                <td class="pointer" ui-sref="todo({listeID: l._id, listeName: l.name})">{{l.name}}</td>
                <td>
                    <button class="btn a-btn-slide-text btn-danger" ng-click="removeCollabo(l._id,userName)">
                        <i class="fas fa-truck-loading fa-xs fa-flip-horizontal"></i>
                        <strong><span>Se retirer</span></strong>
                    </button>
                </td>
            </tr>
        </table>

    </div>

</div>