
<div ng-controller='toDoCtrl'>
    <h1 class="display-3 text-center">{{listName.listName}}</h1>
    <div class="mx-auto w-50 ">
        <form ng-submit='addTask()'>
            <div class="input-group mb-3 col-15">
                <input class="form-control" placeholder='Tâche à ajouter...' ng-model='formData.taskName'></input>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-success">Ajouter une tâche</button>
                </div>
            </div>
        </form>
    </div>
    <div class="mx-auto w-75">
        <span>Nombre de choses à faire : {{laliste.length}}</span>
        <table class="table">
            <tr class="" ng-repeat='ta in laliste'>
                <td><input class="checkbox" type='checkbox' ng-checked='ta.done' ng-click="doneTask(ta._id)"></input></td>
                <td><input type="text" ng-disabled="ta.done" ng-model="ta.taskName" class="font-weight-bold form-control-plaintext doneis{{ta.done}}"></td>
                <td><small class=''><i>Par {{ta.auteur}}</i></small></td>
                <td><span class="badge badge-info badge-pill">{{ta.date| date:'Le dd/MM/yyyy à HH:mm'}}</span></td>
                <td>
                    <span class="input-group">
                        <span class="input-group-prepend">
                            <button class="btn a-btn-slide-text btn-warning" ng-disabled="ta.done" ng-click="updateTask(ta._id, ta.taskName)">
                                    <i class="fas fa-sync-alt fa-xs"></i>
                                    <strong><span>Modifier</span></strong>
                            </button>
                        </span>
    
                        <span class="input-group-append">
                            <button class="btn a-btn-slide-text btn-danger" ng-click="removeTask(ta._id)">
                                <i class="fas fa-times fa-xs"></i>
                                <strong><span>Supprimer</span></strong>
                            </button>
                        </span>
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>
