/* Empty. Add your own CSS if you like */
.va
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}

.monModal{
     position: fixed;
     top: 0;
     left: 0;
     z-index: 1050;
     display: none;
     width: 100%;
     height: 100%;
     overflow: hidden;
     outline: 0;
     background-color: rgba(10, 10, 10, 0.8);
 }

 .doneis1{
     text-decoration: line-through double red;
 }
 
 .doneis0{
     text-decoration: none;
 }